<div class="container">
  <div class="jumbotron text-center">
    If you enjoy using this app, please vote for
    <br /><b class="text-info">Pierre Henry</b><br />
    to speak at the Round Table at the
    <br /><b class="text-info">Geneva Bachata Festival</b>
    <br />
    Deadline is Today!
  </div>
  <div class="text-center">
    <p>
      <a
        class="btn btn-info mr-4"
        href="https://kadens.io/forms/62347ae3-3548-418e-8630-da839933b679"
        >Vote Now
        <i class="bi bi-emoji-smile-fill ml-2"></i>
      </a>
      <a class="btn btn-info" href="home"
        >No thanks
        <i class="bi bi-emoji-frown-fill ml-2"></i>
      </a>
    </p>
    <img src="assets/vote.png" style="max-width: 75vw" />
  </div>
</div>
