Options +Indexes
DirectoryIndex index.html

RewriteEngine on

RewriteCond %{HTTP_HOST} ^emusicality.co.uk [NC]
RewriteRule ^(.*)$ http://www.emusicality.co.uk/$1 [L,R=301,NC]

RewriteCond %{ENV:HTTPS} !=on
RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [R,L]

RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
RewriteRule ^ - [L]

RewriteRule ^ /index.html

Header always set Content-Security-Policy "upgrade-insecure-requests;"