.tracks-landscape {
  min-width: fit-content !important;
  max-width: fit-content !important;
  overflow-y: auto !important;
}

.tracks-portrait {
  min-height: fit-content !important;
  max-height: fit-content !important;
}

.border {
  border-style: solid !important;
  border-width: 2px !important;
}

.rounded {
  border-radius: 0.5rem !important;
}

.blob {
  margin: 0;
  padding: 0;
  width: 28px !important;
  height: 28px !important;
  font-size: 18px !important;
  font-weight: bolder !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 0 !important;
  border-style: solid !important;
  border-width: 2px !important;
  border-radius: 50% !important;
  cursor: pointer !important;
}
