.main {
  padding-top: 80px !important;
}

.list-group {
  max-width: fit-content !important;
}

.toast-header {
  background-color: var(--info) !important;
  color: white;
}

a.disable-link {
  pointer-events: none;
}