<nav class="navbar fixed-top bg-secondary text-white text-nowrap flex-nowrap">
    <a href="#">
        <h4 class="text-white mr-2 my-0"><b>eMusicality</b></h4>
    </a>
    <a class="m-0 text-muted text-truncate" href="https://www.facebook.com/salsaaddict" target="_blank"
        rel="noopener">by Pierre Henry</a>
</nav>
<div class="main">
    <div class="vw-100 d-inline-flex justify-content-center" *ngIf="ask">
        <div class="card" style="max-width: 24rem; min-width: 12rem;">
            <div class="card-body">
                <p>This application is provided free of charge,
                    but please consider making a <b class="text-warning">donation</b>
                    to support the continuing development, maintenance and hosting of the software,
                    <b class="text-warning">especially if you are regularly using this as a teaching tool</b>.
                </p>
                <div class="text-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-success" (click)="donate()">
                            <i class="bi-piggy-bank-fill"></i>&nbsp;Donate
                        </button>
                        <button type="button" class="btn btn-danger" (click)="ask = false">
                            <i class="bi-hand-thumbs-up-fill"></i>&nbsp;Later
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vw-100 d-inline-flex flex-column justify-content-start align-items-center" *ngIf="!ask">
        <div class="list-group">
            <a *ngFor="let song of songs | keyvalue" class="list-group-item list-group-item-action p-2"
                [ngClass]="{ 'd-none': song.value.hidden }" [routerLink]="songUrl(song.key)"
                [appAnimateIf]="songNew(song.value)" [animation]="'tada'">
                <div class="d-inline-flex justify-content-start align-items-center">
                    <img class="img-thumbnail mr-2" [src]="songImg(song.key)" [alt]="songAlt(song.value)">
                    <div class="d-inline-flex flex-column justify-content-between align-items-start">
                        <b [innerHtml]="song.value.title"></b>
                        <span [innerHtml]="song.value.artist"></span>
                        <small class="text-muted" [innerHtml]="song.value.genre"></small>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>